.slidein {
    animation-duration: .4s;
    animation-name: slidein;
}
 
.slideout {
    animation-duration: .4s;
    animation-name: slideout;
}
 
@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(180%);
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
 
@keyframes slideout {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 0;
        transform: translateX(180%);
    }
}
 
 
.fadeoutShrink {
    animation-duration: .4s;
    animation-name: fadeoutShrink;
}
  
.fadeinGrow {
    animation-duration: .4s;
    animation-name: fadeinGrow;
}
 
@keyframes fadeoutShrink {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.6);
    }
}

@keyframes fadeinGrow {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
 
.collapse {
    animation-duration: 0.4s;
    animation-name: collapse;
}
 
.uncollapse {
    animation-duration: 0.4s;
    animation-name: uncollapse;
}
 
@keyframes collapse {
    from {
        max-height: 80vh;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
        margin-bottom: 0;
    }
}

@keyframes uncollapse {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 80vh;
        opacity: 1;
    }
}
