/*** "RESUME" SECTION ***/
.resume {
    width: 80rem;
}

@media screen and (max-width: 800px) {
    .resume {
        width: 100%;
    }
}

.resume__display{
    width: 100%;
    max-height: 80vh;

    overflow-x: auto;
    scrollbar-color: var(--text-color-white) black;
    scrollbar-width: thin;
}
/* Vertical scrollbar in browsers other than Firefox */
.resume__display::-webkit-scrollbar-thumb {
    background: var(--text-color-white);
}
.resume__display::-webkit-scrollbar {
    width: .6rem;
    background: black;
}

.resume__btns {
    display: flex;
    margin-bottom: 1rem;
}

.resume__display__title {
    font-weight: 500;
}

.resume__display__certs,
.resume__display__career,
.resume__display__education {
    background-color: var(--section-bg-color-dark);
    padding: 1rem;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    .resume__display__certs,
    .resume__display__career,
    .resume__display__education {
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.resume__date, .resume__location {
    font-weight: 500;
}

.cert__instructor,
.role__company,
.degree__school {
    font-style: italic;
    font-weight: 500;
}

hr {
    margin: auto;
    width: 50%;
    margin-top: -.8rem;
    margin-bottom: .8rem;

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--text-color-white), rgba(255, 255, 255, 0));
}

/* Certifications */
.resume__display__certs {
    margin-bottom: 2.5rem;
}

.resume__display__certs__cert:not(:last-child) {
    margin-bottom: 1.5rem;
}

.resume__cert__links {
    display: inline-flex;
    flex-direction: column;
}

.cert__link {
    color: var(--text-color-white);
    transition: color .2s;
}
.cert__link:hover {
    color: #bbbbbb;
    transition: color .2s;
}

/* Career */
.resume__display__career {
    margin-bottom: 2.5rem;
}

.resume__display__career__role:not(:last-child) {
    margin-bottom: 1.5rem;
}

.resume__role__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

@media screen and (max-width: 500px){
    .resume__role__head {
        flex-direction: column;
    }
}

.role__datelocation {
    text-align: end;
}

@media screen and (max-width: 500px){
    .role__datelocation {
        text-align: start;
    }
}

.role__desc__list > li {
    margin-bottom: .5rem;
}

/* Education */
.resume__display__education__degree {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 420px){
    .resume__display__education__degree {
        flex-direction: column;
    }

    .linebreak {
        display: none;
    }
}

.resume__display__education__degree:not(:last-child) {
    margin-bottom: 1.5rem;
}

.resume__degree__yearlocation {
    text-align: end;
}

@media screen and (max-width: 420px){
    .resume__degree__yearlocation {
        text-align: start;
    }
}
